.common-tasks-page-container {
  display: flex;
  justify-content: flex-start;
  background-color: var(--lightGray);
  min-height: 100vh;
  padding-top: 10px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
}
.common-tasks-page-container-message {
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.common-tasks-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.common-tasks-page-load-more-button {
  margin: 10px;
}

.no-tasks-message {
  margin: 0;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

@media screen and (min-width: 992px) {
  .common-tasks-page-container {
    padding: 60px;
  }
}
