.edit-task-form-container {
  display: flex;
  flex-direction: column;
  background-color: var(--lightGray);
}

.edit-task-form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
  margin-bottom: 70px;
}

.edit-task-form-inputs .custom-input {
  background-color: var(--lightGray);
  border-color: var(--darkGray);
  color: var(--black);
  width: 276px;
}
.edit-task-form-inputs .custom-input-label {
  color: var(--darkGray);
}
.save-task-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.delete-task-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-checkbox-label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 276px;
  font-size: 14px;
  color: var(--darkGray);
  margin-bottom: 0;
}
