.header {
  background-color: var(--violet);
  display: flex;
  border-radius: 0 0 18px 18px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-tasks {
  height: 148px;
}

.header-profile {
  height: 80px;
}

.header-common-tasks {
  height: 80px;
}

.logo-link {
  display: none;
}

.header .logo {
  width: 200px;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .button {
  width: 139px;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
}

.buttons-container {
  display: none;
  margin-right: 20px;
  gap: 20px;
}

.title-container {
  color: var(--white);
}

.header-title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.header-title-container-button {
  display: flex;
  align-self: flex-start;
}
.header-title-container-button .button {
  height: 36px;
  width: 111px;
  padding: 8px 16px;
  font-size: 12px;
  white-space: nowrap;
}

.header-counter-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  margin: 0;
}

.header-counter-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-grow: 1;
}

.greeting-title {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #e1e1e1;
}

@media screen and (min-width: 992px) {
  .header {
    justify-content: space-between;
    height: 145px;
    border-radius: 0 0 28px 28px;
  }
  .logo-link {
    display: block;
  }
  .buttons-container {
    display: flex;
  }
  .greeting-title {
    display: none;
  }
  .header-title-container {
    align-items: center;
  }
  .header-title-container-button .button {
    width: 139px;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
  }
  .header-title-container-button {
    align-self: center;
  }
}
