.done-container {
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 8px;
  width: 70px;
  height: 30px;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.text-done {
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
}

.progress-container {
  border-radius: 8px;
  padding-right: 8px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 105px;
  height: 30px;
  background-color: var(--blue);
}

.text-progress {
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
}
