/** @format */

.registration-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.registration-form-inputs-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
}
.registration-form-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
}
