body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --breakpoint-sm: 576px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;
  --violet: #6871ee;
  --yellow: #f8d94f;
  --white: #ffffff;
  --black: #000000;
  --lightGray: #c4c8f9;
  --blue: #3d78f0;
  --darkGray: #4d4d4d;
  --green: #008001;
  --red: #ff2929;
}
